<%= provide(:title, "Users") %>
<h1>全てのユーザー</h1>
<div class="col-md-10 col-md-offset-1">
  <%= form_tag(users_path, :method => "get") do %> 
  <div class="input-group">
    <%= text_field_tag :search, params[:search], placeholder: "キーワード検索", class: "form-control" %>
    <span class="input-group-btn">
      <%= submit_tag "検索", :name => nil, class: "btn btn-primary" %>
    </span>
  </div>
  <% end %>
</div>


<div class="row">

  <div class="col-md-10 col-md-offset-1">
    <%= will_paginate @users, :previous_label => '前へ', :next_label => '次へ' %>
    <table class="table table-condensed table-hover" id="table-users">

      <tbody>
        <% @users.each do |user| %>
        <tr>
            <td>
            <p class="user-list-height">
            <%= link_to user.name, user_works_path(user.id) %><font color="silver"> | </font>
            
            <%= link_to '勤怠情報編集', edit_work_user_path(user.id) %><font color="silver"> | </font>
            
            <%= link_to '削除', user_path(user), method: :delete %></td>
            </p>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @users, :previous_label => '前へ', :next_label => '次へ' %>
  </div>
</div>