<%= provide(:title, "Users") %>
<h1>
<%= @title_search || '全てのユーザー' %></title>  


</h1>

<div class="col-md-10 col-md-offset-1">
  <%= form_tag(users_path, :method => "get") do %> 
  <div class="input-group">
    <%= text_field_tag :search, params[:search], placeholder: "キーワード検索", class: "form-control" %>
    <span class="input-group-btn">
      <%= submit_tag "検索", :name => nil, class: "btn btn-primary" %>
    </span>
  </div>
  <% end %>
</div>


<div class="row">

  <div class="col-md-10 col-md-offset-1">
    <%= will_paginate @users, :previous_label => '前へ', :next_label => '次へ' %>
    <table class="table table-condensed table-hover" id="table-users">

      <tbody>
        <% @users.each do |user| %>
        <tr>
            
              
            <% if user.admin? %>
              <td id="none-border">
            <% else %>
              <td>
            <% end %>
            <p class="user-list-height">
              
              
              
            <% if user.admin? %>
              <%= link_to '管理者', user_works_path(user.id) %><font color="silver"> | </font>
            <% else %>
              <%= link_to user.name, user_works_path(user.id) %><font color="silver"> | </font>
            <% end %>
            
            
            <%= link_to '勤怠情報編集', edit_work_user_path(user.id) %><font color="silver">
            <% if user.admin? %>
            <% else %>
               | </font><%= link_to '削除', user_path(user), method: :delete %>
            <% end %></td>
            </p>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @users, :previous_label => '前へ', :next_label => '次へ' %>
  </div>
</div>